.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerImage {
  width: 6rem;
  height: 6rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.backToHome {
  margin: 3rem 0 0;
}

.backToHome a {
  background-color: #f0f4fc;
  padding: 12px;
  font-weight: 500;
  border-radius: 8px;
}
